{% extends "layout/index.html" %}

{% block content %}
<div class="row" id="table-head">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">جدول اطلاعات کاربری</h4>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="table">
                        <tr>
                            <th>نام</th>
                            <th>نام خانوادگی</th>
                            <th>نام کاربری</th>
                            <th>ایمیل</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="fw-bold">
                                    {{ formData.firstName }}
                                </span>
                            </td>
                            <td>
                                <span class="fw-bold">
                                    {{ formData.lastName }}
                                </span>
                            </td>
                            <td>
                                <span class="fw-bold">
                                    {{ formData.userName }}
                                </span>
                            </td>
                            <td>
                                <span class="fw-bold">
                                    {{ formData.email }}                      
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}