{% extends "layout/index.html" %}

{% block content %}
<div class="row" id="table-head">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">جدول اطلاعات کاربری</h4>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead class="table">
                        <tr>
                            <th>نام</th>
                            <th>نام خانوادگی</th>
                            <th>نام کاربری</th>
                            <th>کلمه عبور</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <span class="fw-bold">rasool</span>
                            </td>
                            <td>abdi</td>
                            <td>
                                rasoolabdi
                            </td>
                            <td>
                                rasool@yahoo.com                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}