{% extends 'layout/layoutForms.html' %}

{% block content %}
<div class="auth-wrapper auth-cover">
    <div class="auth-inner row m-0">
        <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
            <div class="w-100 d-lg-flex align-items-center justify-content-center px-5"><img class="img-fluid" src="../../../app-assets/images/pages/register-v2.svg" alt="register image" /></div>
        </div>
      
        <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
            <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                <h2 class="card-title fw-bold mb-2">{{ title }}</h2>
                <p class="card-text mb-2">
                    {% AlertDanger "err1" %}
                        {{ t("user.register_first_name_not_empty")}}
                    {% endAlertDanger %}
                    {% AlertDanger "err2" %}
                        {{ t("user.register_is_length_max_firstname")}}
                    {% endAlertDanger %}
                    {% AlertDanger "err3" %}
                        {{ t("user.register_last_name_not_empty")}}
                    {% endAlertDanger %}
                    {% AlertDanger "err4" %}
                        {{ t("user.register_is_length_max_lastName")}}
                    {% endAlertDanger %}
                    {% AlertDanger "err6" %}
                        {{ t("user.register_username_not_empty")}}
                    {% endAlertDanger %}
                    {% AlertDanger "err7" %}
                        {{ t("user.register_is_length_username")}}
                    {% endAlertDanger %}
                    {% AlertDanger "err8" %}
                        {{ t('user.register_email_not_empty') }}
                    {% endAlertDanger %}
                    {% AlertDanger "err9" %}
                        {{ t('user.register_valid_email')}}
                    {% endAlertDanger %}
                    {% AlertDanger "err10" %}
                        {{ t("user.register_password") }}
                    {% endAlertDanger %}
                    {% AlertDanger "err11" %}
                        {{ t("user.register_is_length_min_password")}}
                    {% endAlertDanger %}
                    {% AlertDanger "err12" %} 
                        {{ t("user.register_dup_password")}}
                    {% endAlertDanger %}
                    {% AlertDanger "err13" %}
                        {{ t("user.register_is_length_min_rep_password")}}
                    {% endAlertDanger %}
                    {% AlertDanger "err5" %} 
                        {{ t("user.register_not_equal_password") }}
                    {% endAlertDanger %}
                    {% AlertDanger "already-email" %}
                        {{ t("user.register_already_email") }}
                    {% endAlertDanger %}
                    {% AlertSuccess "register-success" %}
                        {{ t("user.register_success") }}
                    {% endAlertSuccess %}
                </p>
                <form class="auth-login-form mt-2" action="" method="POST">
                    <div class="mb-1">
                        <label class="form-label" for="first_name">نام</label>
                        <input class="form-control" id="first_name" type="text" name="first_name" autocomplete="off" placeholder="rasool" aria-describedby="first_name" autofocus="" tabindex="1" />
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="last_name">نام خانوادگی</label>
                        <input class="form-control" id="last_name" type="text" name="last_name" autocomplete="off" placeholder="abdi" aria-describedby="last_name" autofocus="" tabindex="1" />
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="username">نام کاربری</label>
                        <input class="form-control" id="username" type="text" name="username" autocomplete="off" placeholder="rasoolabdi" aria-describedby="username" autofocus="" tabindex="1" />
                    </div>
                    <div class="mb-1">
                        <label class="form-label" for="email">ایمیل</label>
                        <input class="form-control" id="email" type="text" name="email" autocomplete="off" placeholder="rasool@yahoo.com" aria-describedby="email" autofocus="" tabindex="1" />
                    </div>
                    <div class="mb-1">
                        <div class="d-flex justify-content-between">
                            <label class="form-label" for="password1">کلمه عبور</label>
                        </div>
                        <div class="input-group input-group-merge form-password-toggle">
                            <input class="form-control form-control-merge" id="password1" type="password" name="password1" placeholder="············" aria-describedby="password" tabindex="2" /><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                        </div>
                    </div>
                    <div class="mb-1">
                        <div class="d-flex justify-content-between">
                            <label class="form-label" for="password2">تکرار کلمه عبور</label>
                        </div>
                        <div class="input-group input-group-merge form-password-toggle">
                            <input class="form-control form-control-merge" id="password2" type="password" name="password2" placeholder="············" aria-describedby="password" tabindex="2" /><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span>
                        </div>
                    </div>
                    <button class="btn btn-primary w-100" tabindex="4">ثبت نام</button>
                </form>
                <p class="text-center mt-2"><a href="/login"><span>ورود</span></a></p>
                <p class="text-center mt-2"><a href="/recovery"><span>بازیابی کلمه عبور</span></a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
